<h1><%= @worker.lastname + " " + @worker.firstname + " " + @worker.secondname %></h1>
Ученая степень: &nbsp;<%= @worker.degree %><br />
Ученое звание: &nbsp;<%= @worker.rank %><br />
Факультет: &nbsp;<%= @worker.faculty %><br />
Приборы: &nbsp;<% for device in @worker.devices %><%= device.title %><% end %><br />
